html {
    background-color: lightslategrey;}
body {
    margin: auto;
    width: 500px;
    padding-bottom: 0.1px; /*knep för div margin */
	background-color: azure;
	font:sans-serif;
}
h1 {
	text-align:center;
	color:purple;
}
div {
	border:1px solid purple;
	border-radius:5px;
}
#billy {
	color:darkred;
}
#bob{
	color:darkgreen;
}
.two {
	font-size:larger;
}
.three {
	font-size:small;
}
.three + p {
	font-weight: bold;
}
#bob > .two + p + p {
	text-align:justify;
}
#bob a {
	text-decoration:line-through;
}
#bob .two a {
	text-decoration: overline underline;
	text-decoration-color: orange double;
}